apiVersion: tmax.io/v1
kind: L2C
metadata:
  name: example-l2c
spec:
  projectName: wildfly-maven-sample-app
  accessCode: ''
  gitUrl: https://github.com/sunghyunkim3/TomcatMavenApp
  gitRevision: master
  imageUrl: 172.22.11.2:30500/wildfly-maven-sample-app
  imageRegistrySecretName: ''
  wasSourceType: wildfly
  wasTargetType: jeus
  wasPort: 8808
  wasServiceType: LoadBalancer
  wasPackageServerUrl: ''
  dbMigrate: true
  dbTargetType: TIBERO
  dbTargetStorageSize: 10Gi
  dbTargetServiceType: ClusterIP
  dbTargetUser: TMAX
  dbTargetPassword: TMAX
  dbSourceType: ORACLE
  dbSourceHost: '192.168.6.129'
  dbSourcePort: 49161
  dbSourceUser: system
  dbSourcePassword: oracle
  dbSourceSid: XE